[submodule "third_party/Wan2.2"]
	path = third_party/Wan2.2
	url = https://github.com/bcupps9/Wan2.2.git
[submodule "third_party/large-video-planner"]
	path = third_party/large-video-planner
	url = https://github.com/bcupps9/large-video-planner.git
[submodule "third_party/Wan2.1"]
	path = third_party/Wan2.1
	url = https://github.com/bcupps9/Wan2.1.git
[submodule "third_party/physics-IQ-Benchmark"]
	path = third_party/physics-IQ-Benchmark
	url = https://github.com/bcupps9/physics-IQ-Benchmark.git
